body{
  background-color: lightblue;
}
.intro_text{
  padding-left: 5%;
}
.navbar-nav{
  padding-left: 4%;
}


.name {
  padding: 13px;
}
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
