<!DOCTYPE html>
<html>
<head>
<link href="Committees.css" type="text/css" rel="stylesheet" >
</head>

<body>
<h1>Dropdown Menu</h1>
<p>Move the mouse over the button to open the dropdown menu.</p>

<div class="dropdown">
  <button class="dropbtn">Sub-committees:</button>
  <div class="dropdown-content">
	<p>Test</p>
  <a href="#">Sub-committee 1</a>
  <a href="#">Sub-committee 2</a>
  <a href="#">Sub-committee 3</a>
  </div>
</div>

<br>
<br>
<br>
<br>




</body>
</html> 
